[core]
node_modules
public
.idea
test
.nyc_output
.vscode
docs
package-lock.json
gist
app/fonts/
app/img/
app/php/
gulp-tasks/
local_history.*
MyOne
app/js/Test.php
js-one.*
uml
patchesapp.xmlz
/app/app.xmlz
NJS.ru/Essens/MDN_learn/Error/
NJS.ru/Essens/MDN_learn/Symbol/
app/js/DoJo/javascript-es2015-master.zip
app/js/javascript.ru/1.js
coverage/
